@import '../../../_variables.scss';

.report-bg {
  background:
    url('../../../assets/space.jpg');
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  text-align: center;
}

.header {
  padding: 3rem 0 2rem;
}

.header, button {
  color: #fff;
  font-family: $mars-font;
  font-weight: 100;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

.report-form {
  padding: 0 2rem;
}

.report-form fieldset {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  .report-select {
    border-bottom: 1px solid #fff;
    height: 1.5rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
  }

  .report-select select {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $mars-red-color;
    font-size: 1rem;
    outline: none;
    width: 100%;
    padding: 0;
  }

  ::placeholder {
    color: $mars-red-color;
    font-size: 1rem;
  }

  :focus {
    box-shadow: 0 0 8px #ff5435;
    border: 1px solid #ff5435;
  }

  textarea {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    height: 30vh;
    line-height: 1rem;
    outline: none;
    padding: .5rem;
    width: 100%;
  }
}

.report-form .report-button {
  padding: 3rem 0;

  button {
    @include button;
    font-size: 2.2rem;
    margin: 0 auto;
  }
}