@import '../../../_variables.scss';

.register-bg {
  background:
    linear-gradient(to bottom, rgba(0,0,0 ,0.9), rgba(255,84,53,.3)),
    url('../../../assets/martian.jpg');
  background-size: cover;
  background-position: 52%;
  height: 100vh;
  text-align: center;
}

.register-title {
  padding: 3rem 0 2rem;
}

h2, button {
  color: #fff;
  font-family: $mars-font;
  font-size: 2.2rem;
  font-weight: 100;
}

.register-form fieldset {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 0 2rem;

  input, .select-form {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 1rem;
    height: 1.5rem;
    margin-bottom: 2rem;
    outline: none;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: .5rem;
    width: 100%;
  }

  .select-form select {
    appearance: none;
    background-color: transparent;
    border: none;
    color: $mars-red-color;
    font-size: 1rem;
    outline: none;
    width: 100%;
  }

  ::placeholder {
    color: $mars-red-color;
    font-size: 1rem;
  }

  :focus {
    box-shadow: 0 0 8px #ff5435;
    border: 1px solid #ff5435;
  }
}

button {
  @include button;
  margin: 0 auto;
  padding: 1rem 0;
}