.register-bg {
  background:
    // radial-gradient(35vh at 50% 65% , rgba(255,84,53,.3), rgba(116,22,48,.6), rgba(0,0,0,.9)),
    linear-gradient(to bottom, rgba(0,0,0 ,0.9), rgba(255,84,53,.3)),
    url('../../../assets/martian.jpg');
  background-size: cover;
  background-position: 52%;
  height: 100vh;
  text-align: center;
}

.register-title {
  padding: 3rem 0 2rem;
}

h2, button {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  font-weight: 100;
}

// h2 {
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   letter-spacing: 1rem;
// }

.register-form fieldset {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 0 2rem;

  input, .select-form {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 1rem;
    height: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: .4rem;
    padding-left: .5rem;
    width: 100%;
  }

  .select-form select {
    appearance: none;
    background-color: transparent;
    border: none;
    color: #ff5435;
    font-size: 1rem;
    width: 100%;
  }

  ::placeholder {
    color: #ff5435;
    font-size: 1rem;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  padding: 1rem 0;
}