.background {
  background-image:
    url('../../../assets/mars.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.main-title, h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
  // text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.upper-title {
  font-size: 4rem;
  letter-spacing: 1rem;
  padding-left: 1.6rem;
}

.lower-title {
  border-top: 1px solid #ff5435;
  font-size: 1rem;
  padding-left: 1.85rem;
  padding-top: .5rem;
  letter-spacing: 1.9rem;
  text-align: center;
}

h2 {
  color: #ff5435;
  font-size: 2rem;
  text-transform: none;
}

.round-button {
  align-items: center;
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  background-color: rgba(204,30,44,.4);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  cursor: pointer;
  display: flex;
  height: 100px;
  margin: 0 auto;
  width: 100px;

  .small-round {
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: transparent;
    border: 1px dashed rgba(255,255,255,.5);
    border-radius: 50%;
    height: 70px;
    margin: 0 auto;
    width: 70px;
  }
}

@keyframes pulse {
  to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}