@import '_reset.scss';

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.loading-bg {
	background-color: black;
	height: 100vh;
	display: flex;
	align-items: center;
}

.loading-title {
	color: #ff5435;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}